---
import Twemoji from '../general/Twemoji.vue'
import { dateToString } from '../../utils/dates'

type Props = {
  slug: string
  title: string
  icon: string
  date: Date
}

const { slug, title, icon, date } = Astro.props
---

<a class="flex bg-gray-800 hover:bg-gray-700" href={`/post/${slug}/`}>
  <div class="flex items-center bg-gray-700 p-3">
    <div class="aspect-square h-12" transition:name={slug + '-icon'}>
      <Twemoji emoji={icon} />
    </div>
  </div>
  <div class="flex w-full justify-between gap-2 p-4 max-md:flex-col md:items-center">
    <div class="text-xl font-bold" transition:name={slug + '-title'}>{title}</div>
    <div class="font-semibold text-gray-400" transition:name={slug + '-date'}>{dateToString(date)}</div>
  </div>
</a>
