---
import { slugify } from '../../utils/slugs'

type Props = {
  name: string
}

const { name } = Astro.props
---

<article class="flex flex-col items-center gap-4 bg-gray-800 p-4">
  <div class="flex aspect-square h-16 items-center justify-center">
    <img class="max-h-full max-w-full" src={`/technology/${slugify(name)}.svg`} alt={name} />
  </div>
  <div class="font-bold">{name}</div>
</article>
