---
import Twemoji from './Twemoji.vue'
import { slugify } from '../../utils/slugs'

let text = await Astro.slots.render('default')
text = text.replace(/<img.+?alt="(?<emoji>.+?)".+?\/>/, (_match: string, emoji: string) => emoji)

const index = text.indexOf(' ')
const icon = text.slice(0, index)
const title = text.slice(index + 1)
const anchor = slugify(title)
---

<h2 class="mb-8 mt-12 flex scroll-mt-36 items-center gap-4 text-3xl font-bold max-md:scroll-mt-28 max-sm:text-2xl" id={anchor}>
  <a class="aspect-square h-8 transition-transform hover:-rotate-45" href={`#${anchor}`}>
    <Twemoji emoji={icon} />
  </a>
  <div>{title}</div>
</h2>
