---
import Twemoji from './Twemoji.vue'

type Props = {
  link: string
  title: string
  icon: string
}

const { link, title, icon } = Astro.props
---

<a class="flex h-8 items-center bg-gray-800 hover:bg-gray-700" href={link}>
  <div class="aspect-square h-full bg-gray-700 p-2">
    <Twemoji emoji={icon} />
  </div>
  <div class="px-2 font-bold max-md:hidden">{title}</div>
</a>
