---
import { Image } from 'astro:assets'
import BaseLayout from '../layouts/BaseLayout.astro'
import error from '../assets/pages/404.png'
---

<BaseLayout title="404 Error">
  <h1 class="mb-12 text-5xl font-bold">404 Error</h1>
  <Image class="w-full max-w-96" src={error} alt="404 Error" />
</BaseLayout>
