---
import '@fontsource/merienda';
import MainSection from '../components/MainSection.vue';
---

<html lang="ro">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iulian Oleniuc</title>
	</head>
	<body>
		<MainSection
			client:load
			name="Iulian Oleniuc"
			descriptions={[
				'student la informatică',
				'pasionat de algoritmică',
				'full-stack web developer',
				'biciclist amator',
				'perfecționist',
				'fan al muzicii hip-hop'
			]}
			starCount={10}
			layers={[
				['1f427', '1f986'],
				['1f3a7', '1f6b4-200d-2642-fe0f', '1f3d4'],
				['1f4da', '1f37b', '1f34e', '270d', '1f468-200d-1f4bb']
			]}
		/>
	</body>
</html>

<style is:global>
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

:where(body, p, h1, h2, h3, h4, h5, h6) {
  margin: 0;
}
</style>
