---
import '@fontsource/itim';
import '@fontsource/pacifico';
import StelarSystem from '../components/StelarSystem.vue';
---

<html lang="ro">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iulian Oleniuc</title>
	</head>
	<body>
		<main>
			<section>
				<h1>Iulian Oleniuc</h1>
				<p>student la informatică</p>
			</section>
			<StelarSystem client:load starCount={10} layers={[
				['1f427', '1f986'],
				['1f3a7', '1f6b4-200d-2642-fe0f', '1f3d4'],
				['1f4da', '1f37b', '1f34e', '270d', '1f468-200d-1f4bb']
			]} />
		</main>
	</body>
</html>

<style>
body {
	padding: 0;
  background-color: #111;
}

main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

h1 {
	margin: 0;
	padding: .5rem;
	line-height: 1;
	font-size: 5rem;
	font-family: 'Pacifico', cursive;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(to right, royalblue, dodgerblue);
}

p {
	margin: 0;
	padding: .5rem;
	color: #777;
	line-height: 1;
	font-size: 3rem;
	font-family: 'Itim', cursive;
}
</style>
