---
import '@fontsource/merienda';
import '@fontsource/montserrat-alternates';
import MainSection from '../components/sections/MainSection.vue';
import SkillSection from '../components/sections/SkillSection.vue';
---

<html lang="ro">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Iulian Oleniuc</title>
  </head>
  <body>
    <MainSection client:load />
    <SkillSection client:visible technologies={[
      'React',
      'Vue',
      'Gatsby',
      'Nuxt',
      'Astro',
      'FireBase',
      'Node',
      'Git',
      'PostgreSQL',
      'HTML',
      'CSS',
      'JavaScript'
    ]} />
  </body>
</html>

<style is:global>
:root {
  --white: #fff;
  --black: #111;
  --gray: #777;
  --blue-1: dodgerblue;
  --blue-2: royalblue;
  --cursor-1: #6495ed22;
  --cursor-2: #6495efff;
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  font-family: 'Montserrat Alternates', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--black);
  margin: 0 max(calc((100% - 1500px) / 2), 0px);
  box-shadow: -50px 0 200px -100px var(--blue-1), +50px 0 200px -100px var(--blue-1);
}

:where(p, h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

section {
  padding: 3rem;
}

@media (max-width: 700px) {
  section {
    padding: 1rem;
  }
}
</style>
