---
import '@fontsource/merienda';
import '@fontsource/montserrat-alternates';
import MainSection from '../components/MainSection.vue';
---

<html lang="ro">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iulian Oleniuc</title>
	</head>
	<body>
		<MainSection
			client:load
			name="Iulian Oleniuc"
			descriptions={[
				'student la informatică',
				'pasionat de algoritmică',
				'full-stack web developer',
				'biciclist amator',
				'din păcate perfecționist',
				'fan al culturii hip-hop'
			]}
			starCount={10}
			layers={[
				[
					{ icon: '1f427', text: 'linux' },
					{ icon: '1f986', text: 'rațe' }
				],
				[
					{ icon: '1f3a7', text: 'rap' },
					{ icon: '1f6b4-200d-2642-fe0f', text: 'ciclism' },
					{ icon: '1f3d4', text: 'călătorii' }
				],
				[
					{ icon: '1f4da', text: 'citit' },
					{ icon: '1f37b', text: 'ieșiri' },
					{ icon: '1f34e', text: 'apple' },
					{ icon: '270d', text: 'scris' },
					{ icon: '1f468-200d-1f4bb', text: 'codat' }
				]
			]}
		/>
	</body>
</html>

<style is:global>
* {
  box-sizing: border-box;
}

html {
	line-height: 1.2;
	font-family: 'Montserrat Alternates', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

:where(body, p, h1, h2, h3, h4, h5, h6) {
  margin: 0;
}
</style>
