---
import '@fontsource/merienda';
import '@fontsource/montserrat-alternates';

import Main from '../components/sections/Main.vue';
import Technologies from '../components/sections/Technologies.vue';
import Skills from '../components/sections/Skills.vue';
import Languages from '../components/sections/Languages.vue';
---

<html lang="ro">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Iulian Oleniuc</title>
  </head>
  <body>
    <Main client:load />
    <Technologies client:visible technologies={[
      { name: 'HTML', color: '#ef652a' },
      { name: 'CSS', color: '#2965f1' },
      { name: 'JavaScript', color: '#f7df1e' },
      { name: 'Git', color: '#f03c2e' },
      { name: 'Node', color: '#83cd29' },
      { name: 'PostgreSQL', color: '#336791' },
      { name: 'React', color: '#61dafb' },
      { name: 'Vue', color: '#41b883' },
      { name: 'Gatsby', color: '#663399' },
      { name: 'Nuxt', color: '#00dc82' },
      { name: 'Astro', color: '#ff5d01' },
      { name: 'FireBase', color: '#ffca28' }
    ]} />
    <Skills client:visible skills={[
      { icon: '🤌', name: 'algoritmică' },
      { icon: '🫰', name: 'structuri de date' },
      { icon: '👌', name: 'machine learning' },
      { icon: '🤙', name: 'rețele neuronale' },
      { icon: '✌️', name: 'criptografie' },
      { icon: '☝️', name: 'baze de date' },
      { icon: '🤞', name: 'multithreading' },
      { icon: '👉', name: 'programare orientată-obiect' }
    ]} />
    <Languages client:visible languages={[
      {
        name: 'C',
        code: [
          'int* fib(int n) {',
          '  int *arr = (int*) malloc((n + 1) * sizeof(int));',
          '  arr[0] = 0;',
          '  arr[1] = 1;',
          '  for (int i = 2; i <= n; i++)',
          '    arr[i] = arr[i - 1] + arr[i - 2];',
          '  return arr;',
          '}'
        ]
      },
      {
        name: 'C++',
        code: [
          'auto fib(int n) {',
          '  std::vector<int> arr(n + 1);',
          '  arr[1] = 1;',
          '  for (int i = 2; i <= n; i++)',
          '    arr[i] = arr[i - 1] + arr[i - 2];',
          '  return arr;',
          '}'
        ]
      },
      {
        name: 'Java',
        code: [
          'public final class Fibonacci {',
          '  public static int[] first(int n) {',
          '    final int[] arr = new int[n + 1];',
          '    arr[1] = 1;',
          '    for (int i = 2; i <= n; i++)',
          '      arr[i] = arr[i - 1] + arr[i - 2];',
          '    return arr;',
          '  }',
          '}'
        ]
      },
      {
        name: 'Python',
        code: [
          'def fib(n):',
          '  arr = [0] * (n + 1)',
          '  arr[1] = 1',
          '  for i in range(2, n + 1):',
          '    arr[i] = arr[i - 1] + arr[i - 2]',
          '  return arr'
        ]
      },
      {
        name: 'JavaScript',
        code: [
          'function fib(n) {',
          '  arr = [];',
          '  arr.push(0);',
          '  arr.push(1);',
          '  for (let i = 2; i <= n; i++)',
          '    arr.push(arr[i - 1] + arr[i - 2]);',
          '  return arr;',
          '}'
        ]
      }
    ]} />
  </body>
</html>

<style is:global>
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(30, 20%, 50%);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: hsl(350, 40%, 70%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: hsl(75, 70%, 60%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: hsl(40, 90%, 60%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: hsl(350, 40%, 70%);
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: red;
}
</style>

<style is:global>
:root {
  --white: #fff;
  --black: #111;
  --blue-1: dodgerblue;
  --blue-2: royalblue;
  --font-size: clamp(1rem, 3vw, 1.75rem);
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  line-height: 1.2;
  font-family: 'Montserrat Alternates', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--black);
  margin: 0 max(calc((100% - 1500px) / 2), 0px);
  box-shadow: -50px 0 200px -100px var(--blue-1), +50px 0 200px -100px var(--blue-1);
}

:where(p, h1, h2, h3, h4, h5, h6, ul) {
  margin: 0;
}

ul {
  padding: 0;
}

h2 {
  margin-bottom: .75em;
  padding-bottom: .1em;
  width: fit-content;
  color: var(--white);
  font-size: calc(1.8 * var(--font-size));
  border-bottom: .1em dashed var(--white);
}

section {
  padding: 3rem;
}

section:has(.divider) {
  position: relative;
  padding-top: calc(min(15vh, 100px) + 3rem);
}

@media (max-width: 700px) {
  section {
    padding: 1rem;
  }

  section:has(.divider) {
    padding-top: calc(min(15vh, 100px) + 1rem);
  }
}
</style>
