<div class="flex flex-wrap gap-2 [&_a:hover]:scale-110 [&_a]:flex [&_a]:aspect-square [&_a]:h-10 [&_a]:items-center [&_a]:justify-center [&_a]:transition-transform [&_img]:max-h-full [&_img]:max-w-full">
  <a href="https://github.com/gareth618" target="_blank"><img src="/logo/github.svg" alt="GitHub" /></a>
  <a href="https://www.linkedin.com/in/iulian-oleniuc-86954827b/" target="_blank"><img src="/logo/linkedin.svg" alt="LinkedIn" /></a>
  <a class="rounded-full bg-indigo-700 text-xl font-bold" href="/cv.pdf" target="_blank">CV</a>
</div>
